{% extends 'base.html' %}
{% block content %}
<h1 id='page-title'>
  <span class="fa fa-cogs"></span>
  {{ tr('title/admin') }}
</h1>
<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#admin-users" aria-controls="profile" role="tab" data-toggle="tab">
      <span class="fa fa-user"></span>
      {{ tr('label/users') }}
    </a>
  </li>
  <li role="presentation">
    <a href="#admin-roles" aria-controls="profile" role="tab" data-toggle="tab">
      <span class="fa fa-lock"></span>
      {{ tr('label/roles') }}
    </a>
  </li>
</ul>
<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="admin-users">
    {{ render('users') }}
  </div>
  <div role="tabpanel" class="tab-pane" id="admin-roles">
    {{ render('roles') }}
  </div>
</div>
{% endblock content %}
